/**
 * CONDENSED OFFICE specific styling.
 */

.condensed {
  .office {
    float: left;
    width: 22%;
    margin-left: 4%;

    @media (max-width: 768px) {
      width: 48%;
      margin-bottom: 15px;
      padding-top: 2em;
    }

    @media (max-width: 576px) {
      width: 100%;
      margin: auto;
    }

    .office-details h5 {
      font-size: 1em;
    }

    .office-details p.timestamp {
      font-size: 0.55em;
    }
  }

  .office:nth-of-type(1),
  .office:nth-of-type(2),
  .office:nth-of-type(3),
  .office:nth-of-type(4) {
    padding-top: 0.5em;
  }

  .office:nth-of-type(2n + 1) {
    @media (max-width: 768px) {
      margin-left: 0%;
      clear: both;
    }
  }

  .office:nth-of-type(4n + 1) {
    margin-left: 0%;
    clear: both;
  }

  .contest {
    .contest-table {
      table thead tr th {
        font-size: 0.55em;
      }

      tbody td {
        font-size: 0.7em;
        padding: 0.3em 0.5em;
      }

      td.winner > .candidate-color-label {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;

        @media (max-width: 768px) {
          width: 7px;
          height: 7px;
        }
      }

      .cand {
        padding-left: 0;

        > span.first {
          display: none;
        }

        > span.inc {
          font-size: 0.8em;
          // padding-left: 5px;
        }
      }

      .votes,
      .pct {
        padding-right: 8px;
        text-align: right;
      }

      .bar {
        display: none;
      }
    }

    tr.winner {
      background-color: #f5f5f5;

      td.winner span.check {
        font-family: "Popular";
        font-weight: bold;
      }

      td.winner > span.candidate-color-label {
        display: none;
      }
    }
  }
}
