/**
 * Contest table specific styling.
 */

// CONTEST table defaults

.contest {
  .contest-table {
    margin-bottom: 0.5em;

    table {
      margin-bottom: 0.5em;
    }

    thead tr th {
      font-size: 0.6em;
      text-transform: uppercase;
      color: #080808;
      font-weight: normal;
      border-bottom: 3px solid #eeeeee;
      padding-left: 0;
      padding-bottom: 0.2em;
    }

    tbody td {
      font-size: 0.9em;
      border-bottom: 1px solid #eeeeee;
      vertical-align: middle;
    }

    tr.test-data {
      border-right: 3px solid #ff6933;
    }

    tr.pre-reporting td.winner .candidate-color-label {
      display: inline-block;
    }

    td.winner {
      width: 5%;
      text-align: center;
      padding: 0.5em 0.2em;

      > .candidate-color-label {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: none;

        @media (max-width: 576px) {
          display: inline-block;
        }
      }
    }

    .cand {
      padding-left: 0;
      width: 45%;

      > span.inc {
        font-size: 0.8em;
      }

      > span.np {
        display: none;
      }

      > span.party-label {
        font-size: 0.7em;
        text-transform: uppercase;
      }
    }

    .votes,
    .pct {
      padding-right: 8px;
      text-align: right;
    }

    .bar {
      width: 25%;

      @media (max-width: 576px) {
        display: none;
      }
    }

    .bar .pctBar {
      display: block;
      height: 5px;
      border-radius: 2px;
      min-width: 2px;
    }

    .reporting {
      font-size: 0.65em;
      color: #808080;
      font-style: italic;
    }

    // PARTY STYLES

    tr.party-dem,
    tr.party-dfl {
      td.winner span,
      td.bar span.pctBar {
        background-color: #0258a0;
      }

      td.winner span.check {
        color: #0258a0;
        background-color: #f5f5f5;
      }
    }

    tr.party-rep {
      td.winner span,
      td.bar span.pctBar {
        background-color: #c0272d;
      }

      td.winner span.check {
        color: #c0272d;
        background-color: #f5f5f5;
      }
    }

    tr.party-lib {
      td.winner span,
      td.bar span.pctBar {
        background-color: #f7c272;
      }

      td.winner span.check {
        color: #f7c272;
        background-color: #f5f5f5;
      }
    }

    tr.party-ind,
    tr.party-idp {
      td.winner span,
      td.bar span.pctBar {
        background-color: #f7c272;
      }

      td.winner span.check {
        color: #f7c272;
        background-color: #f5f5f5;
      }
    }

    tr.party-grt {
      td.winner span,
      td.bar span.pctBar {
        background-color: #f7c272;
      }

      td.winner span.check {
        color: #f7c272;
        background-color: #f5f5f5;
      }
    }

    tr.party-gre {
      td.winner span,
      td.bar span.pctBar {
        background-color: #f7c272;
      }

      td.winner span.check {
        color: #f7c272;
        background-color: #f5f5f5;
      }
    }

    tr.party-lmn {
      td.winner span,
      td.bar span.pctBar {
        background-color: #f7c272;
      }

      td.winner span.check {
        color: #f7c272;
        background-color: #f5f5f5;
      }
    }

    tr.party-np {
      td.winner span.candidate-color-label {
        display: none;
      }
    }

    tr.party-una,
    tr.party-wi {
      td.winner span,
      td.bar span.pctBar {
        background-color: #808080;
      }

      td.winner span.check {
        color: #000000;
        background-color: #f5f5f5;
      }
    }
  }

  // WINNER MARKER STYLES

  tr.winner {
    background-color: #f5f5f5;

    td.winner span.check {
      font-family: "Popular";
      font-weight: bold;
    }

    td.winner > span.candidate-color-label {
      display: none;
    }

    td.cand {
      font-weight: bold;

      // > span {
      //   font-weight: normal;
      // }
    }
  }
}

// UNCONTESTED styles

.uncontested {
  th.votes,
  th.pct,
  td.votes > span {
    visibility: hidden;
  }

  .reporting,
  td.pct > span.num {
    display: none;
  }

  td.pct > span.uncontested {
    visibility: visible;
    font-size: 0.7em;
    vertical-align: middle;
  }

  .bar {
    width: 5%;
  }
}
