/**
 * County map and colors.
 */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$partyColors: (
  dfl: #0257ace3,
  dem: #0257ace3,
  rep: #c0272ce0,
  gop: #c0272ce0
);

.results .has-county-map {
  .contest-county-map {
    // Use margin top since we want to get offsetHeight
    margin-top: 2em;
    position: relative;
  }

  .state-path {
    fill: none;
    stroke-width: 2px;
    stroke: #dcdcdc;
    stroke-linecap: round;
    stoke-linejoin: round;
  }

  .county-path {
    fill: #f5f5f5;
    stroke: #ffffff;
    stroke-width: 0.5px;
    transition: fill 1s;
    stroke-linecap: round;
    stoke-linejoin: round;
  }

  .road-path {
    stroke: #686868;
    stroke-width: 0.15px;
    fill: none;
  }

  .city-dot-large {
    fill: black;
    stroke-width: 1px;
  }

  .city-dot-small {
    fill: black;
    stroke-width: 1px;
  }

  .city-label-large {
    font-size: 0.7em;
    font-family: "Benton Sans";
    stroke: #686868;
    stroke-width: 0.5px;
  }

  .city-label-small {
    font-size: 0.5em;
    font-family: "Benton Sans";
    stroke: #686868;
    stroke-width: 0.5px;
  }

  .county-path:hover {
    cursor: pointer;
    stroke-width: 1.5px;
  }

  // Candidate colors colors
  @each $cand, $color in $partyColors {
    .candidate-result-#{$cand} {
      background-color: $color;
    }

    &.is-reporting .county-reporting.county-leader-#{$cand},
    &.is-reporting .county-fully-reported.county-leader-#{$cand} {
      fill: $color;
    }

    .candidate-color-label {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 2px;
      margin-right: 5px;

      &.candidate-#{$cand} {
        background-color: $color;
      }
    }
  }

  .county-map-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
    max-width: 15em;
    font-size: 0.8em;
    background-color: #ffffff;
    border: 1px solid #565656;
    border-radius: 2px;
    margin: 0.5em;
    padding: 0.5em;

    h4 {
      padding-top: 0;
      margin-top: 0;
      font-size: 1em !important;
    }

    th {
      border-bottom: 2px solid #eeeeee;
      font-size: 0.6em;
      font-weight: normal;
      text-transform: uppercase;
      padding-bottom: 0.3em;
    }

    tr.test-data {
      border-right: 1px solid #ff6933;
    }

    td {
      border-bottom: 1px solid #eeeeee;
      font-size: 0.9em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }

    .map-cand {
      padding-left: 0px;
    }

    .map-votes,
    .map-pct {
      padding-right: 0.5px;
      text-align: right;
    }

    .reporting {
      font-size: 0.7em;
      color: #808080;
      font-style: italic;
    }

    &.tooltip-hover-region-top {
      top: auto;
      bottom: 0;
    }

    &.tooltip-active {
      display: block;
    }
  }

  .county-map-legend p.hover-inst {
    font-size: 0.7em;
    color: #808080;
    font-style: italic;
    font-family: "Benton Sans";
    margin-left: 2em;
    padding-top: 1em;

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
}

// IE11 needs a specific height
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .results .has-county-map .contest-county-map {
    height: 400px;
  }
}
