div.utility {
  margin: auto;
  max-width: 500px;
  margin-bottom: 1em;

  p {
    font-family: "Benton Sans";
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0em;

    span {
      color: rgb(207, 59, 59);
      font-weight: bold;
    }

    &.emergency {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 2em;
      display: none;
    }
  }
}
