/**
 * Header + navigation specific styling.
 */

.results-header {
  h1 {
    font-size: 3.4em;
    text-align: center;
    padding-top: 1.1em;
    line-height: 1.1em;
    margin-bottom: 0;

    @media (max-width: 768px) {
      margin-bottom: 0.5em;
    }
  }

  .share-placeholder {
    margin-bottom: 4em;
  }

  //NAV styles

  // NAV default styles
  .l-navigation-shortnav-container {
    box-shadow: none;
  }

  .results-navigation {
    width: 100%;
    background-color: white;
    z-index: 150;
  }

  .sticky {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e8e8e8;

    @media (max-width: 576px) {
      padding-top: 16px;
      padding-bottom: 12px;
    }
  }

  // Placeholder
  .navigation-placeholder {
    display: none;

    &.sticky-on {
      display: block;
    }
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .counter {
      color: rgb(207, 59, 59);
      font-family: "Benton Sans";
      font-size: 0.7em;
      padding-right: 2px;

      @media (max-width: 576px) {
        font-size: 0.6em;
      }

      p {
        font-family: "Benton Sans";
        text-align: center;
        display: inline;

        @media (max-width: 768px) {
          display: block;
          margin-bottom: 0;
        }

        @media (max-width: 576px) {
          letter-spacing: 0.05em;
        }
      }

      p.caps {
        text-transform: uppercase;
      }

      span {
        font-weight: bold;
      }
    }

    ul {
      // @media (max-width: 576px) {
      //   flex-grow: 2;
      // }

      a,
      a:link,
      a:visited {
        color: #d3d3d3;
      }

      li {
        min-width: 19%;
        background-color: white;
        text-transform: uppercase;
        font-size: 0.75em;
        font-family: "Benton Sans";
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        padding: 5px 12px 4px;
        text-align: center;
        display: inline;
        margin-right: 1em;
        -webkit-transition: border 0.3s ease, color 0.3s ease;
        -moz-transition: border 0.3s ease, color 0.3s ease;
        -o-transition: border 0.3s ease, color 0.3s ease;
        transition: border 0.3s ease, color 0.3s ease;

        .nav-m {
          display: none;
        }

        @media (max-width: 576px) {
          display: inline-block;
          padding: 5px 6px 4px;
          margin-right: 0.3em;
          text-align: center;
          font-size: 0.6em;
          font-weight: 600;
          letter-spacing: 0.05em;

          .nav-d {
            display: none;
          }

          .nav-m {
            display: inline;
          }
        }
      }

      a:last-child li {
        margin-right: 0;
      }

      a:hover li,
      a.active li {
        cursor: pointer;
        color: #202020;
        border: 1px solid #202020;
      }
    }

    .placeholder {
      width: 100px;

      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}
