/**
 * BODY specific styling.
 */

.body {
  clear: both;
  padding-top: 4em;

  @media (max-width: 576px) {
    padding-top: 3em;
  }

  h4 {
    font-size: 1.3em;
    font-weight: bold;
  }

  p.body-chat {
    font-family: "Benton Sans";
    font-size: 0.9em;
    width: 75%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .body-row > .body-offices:nth-child(odd) {
    clear: both;
  }
}
