/**
 * Header + navigation specific styling.
 */

.results-header {
  h1 {
    text-align: center;
    padding-top: 0.3em;
    line-height: 1.1em;
    margin-bottom: 0;

    @media (max-width: 768px) {
      margin-bottom: 0.5em;
    }
  }

  .share-placeholder {
    margin-bottom: 4em;
  }

  //NAV styles

  // NAV default styles
  .l-navigation-shortnav-container {
    box-shadow: none;
  }

  #navigation {
    width: 100%;
    background-color: white;
    z-index: 150;
  }

  .sticky {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e8e8e8;

    @media (max-width: 600px) {
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }

  // Placeholder
  .navigation-placeholder {
    display: none;

    &.sticky-on {
      display: block;
    }
  }

  nav {
    .counter {
      color: rgb(207, 59, 59);
      font-family: "Benton Sans";
      font-size: 0.7em;
      float: left;
      position: absolute;

      p {
        font-family: "Benton Sans";
        text-align: center;
        margin-bottom: 0;
        display: inline;

        @media (max-width: 768px) {
          display: block;
        }
      }

      p.caps {
        text-transform: uppercase;
      }

      span {
        font-weight: bold;
      }
    }

    ul {
      width: 100%;
      display: block;
      text-align: center;
      margin: 0px auto;
      position: relative;

      a,
      a:link,
      a:visited {
        color: #d3d3d3;
      }

      li {
        min-width: 18%;
        background-color: white;
        text-transform: uppercase;
        font-size: 0.75em;
        font-family: "Benton Sans";
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        padding: 5px 12px 4px;
        display: inline;
        -webkit-transition: border 0.3s ease, color 0.3s ease;
        -moz-transition: border 0.3s ease, color 0.3s ease;
        -o-transition: border 0.3s ease, color 0.3s ease;
        transition: border 0.3s ease, color 0.3s ease;

        @media (max-width: 600px) {
          display: inline-block;
          margin-top: 10px;
          padding: 5px 0px 4px;
          margin-right: 0.3em;

          .navdt {
            display: none;
          }
        }
      }

      a:last-child li {
        margin-right: 0;
      }

      a:hover li,
      a.active li {
        cursor: pointer;
        color: #202020;
        border: 1px solid #202020;
      }
    }
  }
}
