/**
 * Office specific styling.
 */

.office {
  padding-top: 2em;

  .office-table {
    float: left;
    width: 46%;

    @media (max-width: 768px) {
      width: 100%;
      margin: auto;
      margin-bottom: 15px;
      float: none;
    }

    .office-details {
      h4 {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.2em;
        padding-top: 0;
      }

      p.timestamp {
        font-family: "Benton Sans";
        font-size: 0.6em;
        color: #808080;
        text-transform: uppercase;
      }

      p.office-chat {
        font-family: "Benton Sans";
        font-size: 0.9em;
        width: 75%;

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .office-map {
    float: right;
    width: 46%;
  }
}

.office:nth-child(even) {
  @media (max-width: 768px) {
    margin: auto;
  }
}

.office:nth-child(odd) {
  @media (max-width: 768px) {
    margin-bottom: 25px;
  }
}
