div.banner {
  width: 100%;
  position: relative;
  /*height: 500px;*/
  padding-right: 3em;
  padding-left: 3em;
  background: transparent;
  margin-bottom: 5em;
  text-align: center;

  img.gif2 {
    width: 350px;
  }
  h3 {
    z-index: 100;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    font-family: "Benton Sans";
    letter-spacing: -0.5px;
    font-size: 1.35em;
    margin-bottom: 5px;
    font-weight: bold;
    span {
      font-weight: bold;
    }
  }
  h4 {
    font-weight: normal;
    font-size: 1.1em;
    width: 65%;
    margin: 0 auto;
  }
  h5 {
    font-weight: normal;
    font-size: 0.8em;
    width: 65%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  div.banner {
    padding: 0;
    margin-bottom: 50px;
    img.gif2 {
      width: 100%;
    }
    h3 {
      margin-top: 20px;
      font-size: 1.45em;
    }
    h4,
    h5 {
      width: 100%;
    }
  }
}
