/**
 * Balance of Power chart specific styling.
 */

.bop {
  width: 50%;
  float: left;
  margin: 0 10px;
  position: relative;

  &:last-child {
    float: right;
    margin: 0 0 0 10px;
  }

  .header {
    color: #231f20;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 4px;
  }

  .d-big-num {
    font-size: 14px;
    font-weight: bold;
    color: #2964ab;
    float: left;
  }

  .r-big-num {
    font-size: 14px;
    font-weight: bold;
    color: #bc1f34;
    float: right;
  }

  .stacked-bar-graph {
    width: 100%;
    height: 10px;
    color: #cccccc;
    span {
      display: inline-block;
      height: 100%;
      box-sizing: border-box;
      float: left;
      padding: 0;
    }
    .bar-d {
      background: #22409a;
    }

    .bar-x {
      background: #cccccc;
    }

    .bar-r {
      background: #da2228;
    }
  }

  .d-little {
    font-size: 7.5px;
    margin-top: 2px;
    font-weight: bold;
    color: #222222;
    float: left;
  }

  .r-little {
    font-size: 7.5px;
    margin-top: 2px;
    font-weight: bold;
    color: #222222;
    float: right;
  }

  .center {
    font-size: 8px;
    line-height: 9px;
    color: #333333;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: -37px;
    z-index: 55;
    padding-bottom: 37px;
    span {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .reporting {
    color: #2a2a2a;
    font-size: 7px;
    letter-spacing: 0.5px;
    padding-top: 0px;
    margin-top: -8px;
    width: 100%;
    text-align: center;
  }
}
