/**
 * SEARCH specific styling.
 */
.search {
  padding-top: 4em;
  clear: both;

  .search-box {
    border: 1px solid #666;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto 4em;
    padding: 0.8em 2em;

    @media (max-width: 767px) {
      width: 100%;
    }

    h5 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 1.2em;
      text-align: center;
    }

    form {
      padding-top: 1em;
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }
    }

    .contest-search-form {
      input.contest-search-input {
        max-width: 80%;
        padding: 0.7em 0.7em;
        background-color: #f5f5f5;
        border: 1px solid #eee;
        border-radius: 4px;
        color: rgb(145, 144, 144);
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 0;

        @media (max-width: 768px) {
          max-width: 100%;
          margin-right: 0.5em;
        }
      }

      button {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: "Benton Sans";

        @media (max-width: 768px) {
          max-width: 100%;
          margin-top: 0.5em;
        }
      }
    }

    .contest-search-form input.contest-search-input[type="search"]:focus {
      text-align: left;
    }

    .contest-search-form input.contest-search-input[placeholder] {
      font-family: "Benton Sans";
    }

    .contest-search-form input.contest-search-input[placeholder]:focus {
      color: rgb(100, 100, 100);
    }

    .examples {
      max-width: 95%;
      margin: auto;
      padding-top: 1em;
      font-size: 0.77em;

      p {
        font-family: "Benton Sans";
        text-align: center;

        span {
          padding: 0 8px;

          a {
            text-decoration: none;
            color: #00824a;
          }

          a:hover {
            color: #006341;
          }
        }
      }
    }
  }

  .search-results {
    .contest {
      margin-bottom: 3em;
    }

    .row > .col:nth-child(odd) {
      clear: both;
    }

    .no-results {
      text-align: center;
      padding: 2em;
      font-style: italic;
    }

    .many-results {
      text-align: center;
      padding: 1em;
      font-style: italic;
    }
  }
}
