/**
 * Office specific styling.
 */

.office {
  padding-top: 2.8em;

  @media (max-width: 768px) {
    padding-top: 2.5em;
  }

  .office-table {
    @media (max-width: 768px) {
      width: 100%;
      margin: auto;
      margin-bottom: 15px;
      float: none;
    }

    .office-details {
      h5 {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.2em;
        padding-top: 0;
      }

      p.timestamp {
        font-family: "Benton Sans";
        font-size: 0.6em;
        color: #808080;
        text-transform: uppercase;
      }

      p.office-chat {
        font-family: "Benton Sans";
        font-size: 0.9em;
      }
    }
  }
}
