/**
 * Project specific styling.
 */

// Results mainframe

.results {
  // max-width: 1100px;

  @media (max-width: 768px) {
    max-width: 95%;
    margin: auto;
  }

  h3 {
    font-weight: bold;
    font-size: 1.5em;
    clear: both;
    padding-top: 2.5em;
  }
}

// Lead-in copy

.lead-in {
  max-width: 525px;
  margin: auto;
  text-transform: none;
  font-size: 0.9em;
  padding: 15px 0 15px;
  font-family: "Benton Sans";

  span {
    font-weight: bold;
  }

  .promo {
    max-width: 525px;
    margin: auto;
    font-family: "Benton Sans";
    text-transform: none;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0px;

    a {
      text-decoration: none;
    }
  }
}

.first-lead {
  padding-top: 60px;
}

// Weird race design exceptions

#usa-mn-governor h5,
#usa-mn-attorney-general h5 {
  font-size: 1.3em;
}

h3#judiciary {
  padding-top: 5em;
}

#usa-mn-supreme-court {
  padding-top: 0;
}

// Credits and footers

.credits {
  clear: both;
  padding-top: 8em;

  p {
    font-family: "Benton Sans";
    font-size: 0.8em;
    color: #808080;
  }
}
